:root {
  --bg: #f5f5f5;
  --bege-dev: #DEA86F;
  --bege-dev-shyne: #F5E4D3;
  --bege-dev-dark: #B9874F;
  --bege-dev: #DEA86F;
  --brow-dev: #2C2116;
  --white: #FFFFFF;
  --black: #000000;
  --very-dark-blue: #0B0C0F;
  --dark-blue: #2B313D;
  --silver: #808080;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--bege-dev);
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  border: solid 1px;
  border-radius: 10px;
  color: black;
}

h1 {
  margin-bottom: 20px;
}

div {
  position: relative;
  top: 150px;
  border: solid var(--black);
  padding: 100px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;

}